:root {
    --font1: Georgia, serif;
    --headerHeight: 14vh;
    --white: #fafafa;
    --black: #222;
    --dark: #333;
    --lightGray: #e7e4d8;
    --midGray: #d6d3c8;
    --paulista: #492901;
    --carioca: #c17139;
    --mineiro: #d7a54d;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font1);
    /* font-size: 10px; */
}

* {
    box-sizing: border-box;
    border-collapse: collapse;

    /* Truque delicinha para debugar */
    /* outline: blue solid 2px; */
}

body {
    background-color: var(--white);
    margin: 0;
    overflow-x: hidden;
}


/* ------------/ General \-----------*/
figure, body {margin: 0;}
h1, h2, p {margin-top: 0;}

.btn {
    border: solid 2px var(--dark);
    padding: 0.75em 1.5em;
    font-family: var(--font1);
    cursor: pointer;
    transition: 300ms;
    font-size: 1rem;
}

.btn-transparent {
    background-color: transparent;
    color: var(--dark);
}

.btn-transparent:hover {
    background-color: var(--dark);
    color: var(--white);
}

.btn-dark {
    background-color: var(--dark);
    color: var(--white);
}

.btn-dark:hover {
    background-color: var(--midGray);
    color: var(--dark);
}

.btn-tight {
    padding: 0.5em 0.8em;
    font-size: 1.2em;
}

.btn-tighter {
    padding: 0.5em;
    font-size: 1.1em;
}

main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main, footer {
    color: var(--dark);
}

.container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    width: 100vw;
}
/* ----------------\ General /---------------- */


/* ================== Header ================== */
header {
    display: flex;
    height: var(--headerHeight);
    background-color: var(--black);
    box-shadow: 0 2px 4px #3337;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
}

header .container {
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

nav li {
    margin: 0 0.6em;
}

header a {
    color: #EEE;
    text-decoration: none;
    position: relative;
}

header a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: -1%;
    height: 1px;
    width: 0;
    background-color: currentColor;
    transition: width 200ms;
}

header a:hover::after {
    width: 102%;
}


/* ================ Main ================== */

h2 {
    font-size: 2em;
}

/* ------------- Section #Intro ------------- */
section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px solid var(--midGray);
}

#intro {
    background-image: url(img/bg-intro.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh - var(--headerHeight));
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro div {
    /* Uma vantagem de usar rem e em aqui, é que com apenas uma proriedade
    (a font-size) do elemento, agente consegue controlar as fontes internas 
    e o tamanho do container proporcionalmente. E ainda mantém proporcional
    caso o usuário use tamanho de fonte diferente. */

    font-size: 1.2rem;
    width: 36em;
    max-width: 85vw;
}

#intro h1 {
    font-size: 3em;
}


/* ------------ Section #Sobre -------------- */

#sobre {
    text-align: center;
}

#sobre .container {
    padding: 0;
    width: 80vw;
}

#sobre h2 {
    margin-bottom: 30px;
}

#sobre img {
    width: 100%;
}

.sobre-fotos {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
#sobre .sobre-texto {
    width: 30em;
}

#sobre figure {
    margin: 0 5px;
    position: relative;
}

#sobre figcaption {
    position: absolute;
    font-size: 2em;
    font-style: italic;
    color: var(--white);
    background-color: var(--dark);
    width: 230px;
    height: 1.5em;
    bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre p {
    font-style: italic;
}

/* ------------- Section #Produtos ------------- */
#produtos {
    background-color: var(--lightGray);
    --produtos-color: var(--lightGray);
}

.lista-cafe {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.item-cafe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 .7rem;
}

.item-cafe p {
    font-size: 0.86em;
}



.circle {
    border-radius: 50%;
    --size: 7em;
    height: var(--size);
    width: var(--size);
    background-color: currentColor;
    margin: 1.5em;
    overflow: hidden;
    transform: rotate(0deg) skew(0deg, 0deg);
    position: relative;
}

.circle:hover {
    animation: wobbles 1s;
}

.circle::before {
    content: '';
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 0.3em solid var(--produtos-color);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    animation: forwards infinite 7s drop ease-out;
}

@keyframes drop {
    to {
        width: 200%;
        height: 200%;
    }
}

@keyframes wobbles {
    from {
        transform: rotate(0deg) skew(3deg, 3deg);
    }
    to {
        transform: rotate(360deg) skew(0deg, 0deg);
    }
}

.circle.paulista {color: var(--paulista);}
.circle.carioca {color: var(--carioca);}
.circle.mineiro {color: var(--mineiro);}


.circle.paulista::before {animation-delay: -3s}
.circle.carioca::before {animation-delay: -1.5s}
.circle.mineiro::before {animation-delay: 0}




#saibaMais {
    font-weight: bold;
}

/* ---------- Section #portifolio ------------- */
#portfolio {
    line-height: 1.5em;
    font-size: 0.93em
}

#portfolio img {
    width: 100%;
}

.portfolio-card {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 2.5em repeat(3, auto);
    grid-template-areas:
        "i h ."
        "i p ."
        "i b ."
        "i . .";
    gap: 1.5em;
}

.portfolio-card:last-child {
    margin: 0;
}

.portfolio-card img {
    grid-area: i;
}
.portfolio-card h2 {
    grid-area: h;
    align-self: center;
    font-size: 2.5em;
    margin: 0;
}
.portfolio-card p {
    grid-area: p;
    font-size: 1.3em;
    margin: 0;
}
.portfolio-card button {
    grid-area: b;
    width: 10em;
}



/* ------- Section #contato --------- */
#contato {
    background-color: var(--lightGray);
    padding-top: 15px;
    padding-bottom: 15px;
}

#contato .container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#contato h2, #contato h3 {
    margin: 0;
}

#contato h3 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
}

input, button {
    font-family: var(--font1);
    outline: none;
}

.input-box {
    background-color: transparent;
    font-style: italic;
    padding: 0.5em;
    transition: background-color 300ms;
}

.input-box:focus, .input-box:hover {
    background-color: var(--white);
}

#contato form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#contato input {
    margin: 0;
    border: 2px solid var(--dark);
}


/* ================ Footer =============== */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--midGray);
    min-height: 25vh;
    line-height: 1.5em;
}

footer .container {
    flex-direction: row;
    justify-content: space-between;
}

.footer-text {
    align-items: baseline;
}

footer p {
    margin: 0;
}

footer address {
    font-style: normal;
}

footer a {
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
}

footer a:visited {
    color: var(--black);
    text-decoration: underline;
}

footer img {
    margin: 1em;
}

footer section {
    height: 100%;
}


@media only screen and (max-width: 889px) {
    .portfolio-card {
        grid-template-columns: 1fr 1fr;
        font-size: .8rem;
    }

    .sobre-fotos {
       font-size: 0.7rem;
    }

}

@media only screen and (max-width: 729px) {
    html {
        font-size: 0.625rem;
    }

    .container {
        max-width: 20rem;
    }

    header .container {
        flex-direction: column;
        max-width: unset;
        width: 100%;
        height: 70%;
        justify-content: space-evenly;
    }
    

    /*------------------------*/
    .main-logo {
        height: 2em;
    }
    header nav {
        height: 1em;
    }
    header ul {
        flex-wrap: wrap;
    }
    
    /*------------------------*/
    #intro {
        height: 20rem;
        background-size: cover;
        background-attachment: unset;
    }
    #intro div {
        font-size: 1rem;
    }

    /*------------------------*/
    #sobre figure {
        margin: 0 0 4rem 0;
        display: flex;
        justify-content: center;
    }
    .sobre-fotos {
        flex-direction: column;
        margin-bottom: 20px;
    }
    #sobre figcaption {
        width: 70%;
        font-size: 3em;
    }
    #sobre .sobre-texto {
        width: 90%;
    }

    /*------------------------*/
    #produtos {
        font-size: 1.3rem;
    }
    
    .lista-cafe {
        flex-direction: column;
    }


    /*------------------------*/
    .portfolio-card {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "i i"
            "h h"
            "p p"
            "b .";
    }

    #portfolio button {
        width: unset;
    }


    /*-------------------------*/
    #contato .container {
        flex-direction: column;
    }

    #contato form {
        flex-direction: column;
        align-items: baseline;
    }

    .newsletter-title {
        margin-bottom: 1em
    }

    /*-------------------------*/
    footer .container {
        flex-direction: column;
        align-items: baseline;
    }
}